@model ForekBase.Web.ViewModels.PostVM
@using ForekBase.Domain.Entities.Enums

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/utility/assets/css/post/StylePost.css">
    <link rel="stylesheet" href="~/utility/assets/css/RichText/Style.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body>
    <!-------------------------------------------Sidebar------------------------------------------------------------------->
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- Content For Sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">The people's eye</a>
                </div>
                <ul class="sidebar-nav">

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#multi" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-solid fa-book"></i>
                            Post
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="@Url.Action("OnGetAllPosts", "Post")" class="sidebar-link">All Posts</a>
                                <a href="@Url.Action("OnCreatePost", "Post")" class="sidebar-link">Create New Post</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-solid fa-file-lines pe-2"></i>
                            News Categories
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Politics</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Sports</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Science</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Trending</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Local</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-solid fa-sliders pe-2"></i>
                            Statistics
                        </a>
                        <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">subscribers</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Ad feedbacks</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">User engagement</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Traffic overview</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                           aria-expanded="false">
                            <i class="fa-regular fa-user pe-2"></i>
                            Auth
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Login</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Register</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Forgot Password</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </aside>
        <!---------------------------------------------------End of sidebar----------------------------------------------------->
        <!---------------------------------------------------Begining of the body----------------------------------------------------->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="image/profile.jpg" class="avatar img-fluid rounded" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="#" class="dropdown-item">Setting</a>
                                <a href="#" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h4>Update Post</h4>
                    </div>

                    <!-- Table Element -->

                    <form asp-action="UpdatePost" enctype="multipart/form-data">

                        <div class="container mt-5">
                            <div class="row">
                                <!-- Left Column -->
                                <div class="col-md-9">
                                    <!-- Image Upload Box -->
                                    <div class="card">
                                        <div class="card-body">
                                            <input asp-for="PostId" hidden />
                                            <input asp-for="CreatedBy" hidden />
                                            <input asp-for="CreatedOn" hidden />
                                            <input asp-for="IsActive" hidden />
                                            <h5 class="card-title">Upload Image</h5>
                                            <!-- Your image upload form or input can go here -->
                                            <input asp-for="FirstFile" accept="image/*,.pdf" type="file" class="form-control mb-2" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" class="form-control" />
                                            <input asp-for="SecondFile" accept="image/*,.pdf" type="file" class="form-control mb-2" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" class="form-control" />
                                            <input asp-for="ThirdFile" accept="image/*,.pdf" type="file" class="form-control mb-2" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" class="form-control" />
                                            <h5 class="card-title">Category</h5>
                                            <select asp-for="Category" class="form-control Type" required asp-items="Html.GetEnumSelectList<eCategory>()">
                                                <option selected="selected" disabled value="">--Select--</option>
                                            </select>
                                            <!-- Text Boxes for Story -->
                                            <h5 class="card-title">Title</h5>
                                            <input asp-for="Title" class="form-control mb-2" placeholder="News Title">
                                            <h5 class="card-title">Article</h5>
                                            @* <div class="cont">
                                                <div id="editor" contenteditable="false">
                                                    <section id="toolbar">

                                                        <div id="bold" class="icon fa fa-bold"></div>
                                                        <div id="italic" class="icon fa fa-italic"></div>

                                                        <div id="createLink" class="icon fa fa-link"></div>
                                                        <div id="insertUnorderedList" class="icon fa fa-list"></div>
                                                        <div id="insertOrderedList" class="icon fa fa-list-ol"></div>
                                                        <div id="justifyLeft" class="icon fa fa-align-left"></div>
                                                        <div id="justifyRight" class="icon fa fa-align-right"></div>
                                                        <div id="justifyCenter" class="icon fa fa-align-center"></div>
                                                        <div id="justifyFull" class="icon fa fa-align-justify"></div>

                                                    </section>
                                                    @* @Html.Raw(Model.Description) 
                                                    
                                                    <div id="page" contenteditable="true"></div>
                                                    
                                                </div>
                                                
                                            </div> *@
                                            <textarea asp-for="Description" hidden id="Description" name="Description" class="form-control mb-2" placeholder="News Title"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="slider">
                                        <div class="card mb-6 body">
                                            <div class="card-body mb-4">
                                                <img id="output" src="~/Docs/@Model.FirstFile" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="card mb-6 body">
                                            <div class="card-body mb-4">
                                                <img id="output" src="~/Docs/@Model.SecondFile" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="card mb-6 body">
                                            <div class="card-body mb-4">
                                                <img id="output" src="~/Docs/@Model.ThirdFile" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-md-12 mt-1">

                                <button type="submit" class="btn btn-success save"><i class="fa fa-save"></i> Save</button>
                                <a class="btn btn-outline-danger float-end" asp-action="Index"  asp-controller="Home"><i class="fa fa-window-close"></i> Exit</a>
                            </div>
                        </div>

                    </form>
                </div>
            </main>
            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a href="#" class="text-muted">
                                    <strong>The people's eye</strong>
                                </a>
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">Contact</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">About Us</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted">Terms</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/utility/assets/js/post/post.js"></script>
    <script src="~/utility/assets/js/RichText/Index.js"></script>
</body>

</html>

